{% extends 'web/standardpage.html' %}

{% block searchpage %}
{% endblock %}

{% block no_global-main %}
<div class="global-main">
    <div class="group-image">
        {% if group.image %}
        <div class="image_background" style="background-image : url('{{group.image.url}}')">
        {% else %}
        <div class="image_background" style="background-image : url('/static/group/black.jpeg')">
        {% endif %}
    </div>
</div>
{% endblock %}

{% block head %}
<style>
.global-main {
    margin-top : 70px;
}
.group-image {
    width : 70%;
    margin : 0 auto;
}
.image_background {
    background-size : cover;
    height : 300px;
    background-position : center;
    display : flex;
    justify-content : flex-end;
    flex-flow : row nowrap;
    position : relative;
}
</style>
{% endblock %}
