{% extends 'web/standardpage.html' %}

{% block searchpage %}
{% endblock %}

{% block webpage %}
<div style="width:500px">
    <p class="pp">Mọi thắc mắc về website hoặc góp ý những ý tưởng hay cho trang này xin vui lòng liên hệ theo email <a href="#">contact@lifelead.net</a>. Chúng tôi sẽ luôn luôn lắng nghe và phản hồi lại trong thời gian nhanh nhất</p>
</div>
<style>
.pp {
    background-color : #fff;
    padding : 10px;
    border : 1px solid #ccc;
    margin-bottom : 10px;
}
</style>
{% endblock %}
