<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta lang="vi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1, user-scalable=yes">

    <link href="/static/web/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/web/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="/static/web/css/normalize.min.css" rel="stylesheet" type="text/css">
    <link href="/static/web/css/font.css" rel="stylesheet" type="text/css">
    <link href="/static/web/css/webpage.css" rel="stylesheet" type="text/css">
    <title>Lifelead</title>
</head>
<body>
    {% block profile %}
    {% endblock %}
</body>
</html>
